<div class="font-merriWeather bg-white h-16 px-40 text-black flex items-center">
  <div class="flex justify-between w-full">
    <div class="uppercase cursor-pointer font-bold text-2xl">CLOSIR</div>
    <div class="flex gap-4 items-center">
      <div class="uppercase text-xs cursor-pointer">products</div>
      <div class="uppercase text-xs cursor-pointer">services</div>
      <div class="uppercase text-xs cursor-pointer">about</div>
      <div class="uppercase text-xs cursor-pointer">jobs</div>
      <div class="uppercase text-xs cursor-pointer">contact</div>
    </div>
  </div>
</div>
