<div class="font-merriWeather bg-white h-16 text-black flex items-center">
  <div class="flex justify-between w-main mx-auto">
    <h2 class="uppercase cursor-pointer font-bold">CLOSIR</h2>
    <div class="flex gap-4 items-center">
      <div
        class="uppercase text-xs cursor-pointer hover:scale-110 transition-all"
      >
        products
      </div>
      <div
        class="uppercase text-xs cursor-pointer hover:scale-110 transition-all"
      >
        services
      </div>
      <div
        class="uppercase text-xs cursor-pointer hover:scale-110 transition-all"
      >
        about
      </div>
      <div
        class="uppercase text-xs cursor-pointer hover:scale-110 transition-all"
      >
        jobs
      </div>
      <div
        class="uppercase text-xs cursor-pointer hover:scale-110 transition-all"
      >
        contact
      </div>
    </div>
  </div>
</div>
