<div class="bg-black h-60 flex flex-col items-center pt-6 mobile-padding">
  <div
    class="font-merriWeather max-w-main w-full pb-6 border-b-white border-b-2 text-white h-1/2 flex justify-between gap-3 mb-6 whitespace-nowrap"
  >
    <h3 class="uppercase">Closir</h3>
    <div class="flex flex-col h-16 justify-between">
      <a>Business</a>
      <a>Features</a>
      <a>Pricing</a>
    </div>
    <div class="flex flex-col h-16 justify-between">
      <a>About Us</a>
      <a>Blog</a>
      <a>News</a>
    </div>
    <div class="flex flex-col h-16 justify-between">
      <a>Support</a>
      <a>Developers</a>
      <a>Referral Program</a>
    </div>
    <div class="flex flex-col h-16 justify-between">
      <a>Jobs</a>
      <a>Contact Us</a>
      <a>Download</a>
    </div>
  </div>
  <div class="w-40 pb-6 h-1/2 flex flex-col items-center">
    <div class="flex justify-between gap-3 items-center mb-2">
      <img
        class="h-6 w-6 cursor-pointer"
        src="../../assets/icons/icons8-facebook-30.png"
        alt=""
      />
      <img
        class="h-6 w-6 cursor-pointer"
        src="../../assets/icons/icons8-instagram-50.png"
        alt=""
      />
      <img
        class="h-6 w-6 cursor-pointer"
        src="../../assets/icons/icons8-twitter-30.png"
        alt=""
      />
      <img
        class="h-6 w-6 cursor-pointer"
        src="../../assets/icons/icons8-gmail-logo-30.png"
        alt=""
      />
    </div>
    <div class="text-white font-openSans text-[10px]">
      &copy;copyright all rights reserved
    </div>
  </div>
</div>
