<div class="w-full h-[450px] relative bg-gray-200">
  <img
    class="w-full h-[450px] object-cover opacity-25"
    src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="team"
  />
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex items-center gap-12 w-max"
  >
    <img
      class="w-[400px] h-72 object-cover"
      src="https://images.pexels.com/photos/1181406/pexels-photo-1181406.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="team"
    />

    <div class="text-black font-merriWeather">
      <h1 class="mb-4">About Us</h1>
      <div class="mb-4 font-openSans text-sm w-[400px]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        alias laboriosam quam ab necessitatibus corporis iste voluptatibus
        officiis labore animi veritatis, voluptas vitae. Porro sapiente
        voluptatibus adipisci cum maxime tenetur?
      </div>
      <app-button text="Learn How"></app-button>
    </div>
  </div>
</div>
