<div class="w-full h-[500px] relative mb-14 bg-black">
  <img
    class="w-full h-[500px] opacity-70"
    src="https://images.pexels.com/photos/3182773/pexels-photo-3182773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="team"
  />
  <div
    class="max-w-main w-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 mobile-padding"
  >
    <div class="w-80 text-white font-merriWeather">
      <h1 class="mb-4">What We Do</h1>
      <div class="mb-4 leading-6 tracking-widest">
        We help organizations to hire,<br />satisfy,motivate, and retain <br />
        their employees.
      </div>
      <app-button text="Learn How"></app-button>
    </div>
  </div>
</div>
