<app-header></app-header>

<div class="w-full h-[500px] relative bg-black">
  <img
    class="w-full h-[500px] object-cover opacity-70"
    src="https://images.pexels.com/photos/3182773/pexels-photo-3182773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="team"
  />
  <div
    class="absolute w-1/4 top-0 left-0 flex flex-col justify-center h-full text-white font-merriWeather ml-40"
  >
    <div class="text-3xl mb-4">What We Do</div>
    <div class="mb-4">
      We help organizations to hire,<br />satisfy,motivate, and retain <br />
      their employees.
    </div>
    <app-button text="Learn How"></app-button>
  </div>
</div>
<div>
  <img
    class="text-blue-500"
    src="../assets/icons/verified_user_FILL0_wght400_GRAD0_opsz48.svg"
    alt=""
  />
</div>
